<% provide(:capabilities, "active") %>
<% provide(:title, "Capabilities") %>
 
    <div class="container">
      <div class="jumbotron">
      
 
 <!--
 <object data="wpr_capabilities.pdf" type="application/pdf" width="100%" height="100%">
  <p>Link <a href="wpr_capabilities.pdf">to WPR Capabilities!</a>
  </p>
</object>
-->

 <canvas id="pdf"></canvas>
 

       </div>
    </div> <!-- /container -->
