<% provide(:contact, "active") %>
<% provide(:title, "Contact") %>

    <div class="container">
      <div class="jumbotron">
        <h1>Contact</h1>
        <p class="lead">
        	Headquarters: Dayton, Ohio
        </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Phone</h4>
          <p>(937) 802-4977 </p>
        </div>

        <div class="col-lg-6">
          <h4>Email</h4>
          <p>watkins.proactive@gmail.com</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Watkins Proactive Research LLC </p>
      </footer>

    </div> <!-- /container -->
