    <% provide(:home, "active") %>
    <% provide(:title, "Home") %>

     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <div class="container">
        <h1>Welcome</h1>
        <p>
	We perform proactive research to provide techical services, along with customized web and mobile apps that help connect people online.
	</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Web Development.</h2>
          
          <p>We use the latest trends in web development to provide unique technical solutions online.</p>
          
          <!--<p><a class="btn btn-default" href="#" role="button">View Examples &raquo;</a></p>--> 
        
        </div>
        <div class="col-md-4">
          <h2>Providing the Populace.</h2>
          
          <p>
             We believe that part of our success is helping solve the problem of the dearth of technical talent in the US, while helping people find successful career paths. 
          </p>
          
          
          <!--<p><a class="btn btn-default" href="#" role="button">View Examples &raquo;</a></p>-->
        
       </div>
        <div class="col-md-4">
          <h2>Research-Driven Apps.</h2>
          
          <p>We compile and analyze data from a variety of sources.  Then we implement solutions for standalone applications, websites, and mobile apps.</p>
          
          <!--<p><a class="btn btn-default" href="#" role="button">View Examples &raquo;</a></p>-->
        
        </div>
      </div>

      <hr>
    </div> <!-- /container -->
